body{
	
	margin: 100px ;
	background-color: rgb(232, 224, 241);
	
}

h1{
	color: #222121;
	margin: 0 0 50px 50px;
}


.A{
	cursor: pointer;
	list-style: none;
	color:rgba(235, 12, 49, 0.959);
	font-weight: bold;
	font-size: 25px;
	
}
.A:hover{
	cursor: pointer;
	list-style: none;
	color:rgba(34, 31, 31, 0.959);
	
	font-weight: bold;
	font-size: 25px;
	
}
summary{
	list-style: none;
}


summary::after {  
	right: .1em;
	
	width: 10em;
	height: 1em;  
	content: "";
	position: absolute;
	transition: transform .5s;
	

}
details[open] > summary::after {
    background: url("img/32178.png")no-repeat 50% 50% / 1em 1em;
    right: .1em;
    width: 10em;
	height: 1em;  
	content: "";
	position: absolute;
	transition: transform .5s;
}
summary:hover::after {  
	right: .1em;
	background: url("img/64484.png") no-repeat 50% 50% / 1em 1em;
	width: 10em;
	height: 1em;  
	content: "";
	position: absolute;
	transition: transform .5s;}


img{
		max-width:50%;
		display: block;
        margin: 0 auto;
}

hr{
	margin: 20px 0;
	padding: 0;
	height: 10px;
	border: none;
	border-top: 1px solid rgb(240, 235, 235);
	box-shadow: 0 8px 8px -11px #505050 inset;
}

